<div class="main_container">
    <div class="container1">
        <form>
            <h2>FIRST NAME</h2>
            <p><input id="name" name="name" type="text" [(ngModel)]="first_name" placeholder="enter your first Name"></p>
            {{first_name}}
        </form>

        <form>
            <h2>LAST NAME</h2>
            <p><input id="name" name="name" type="text" [(ngModel)]="last_name" placeholder="enter your first Name"></p>
            {{last_name}}
        </form>

        <form>
            <h2>EMAIL</h2>
            <p><input id="name" name="name" type="text" [(ngModel)]="email" placeholder="enter your first Name"></p>
            {{email}}
        </form>

        <form>
            <h2>PASSWORD</h2>
            <p><input id="name" name="name" type="password" [(ngModel)]="password" placeholder="enter your first Name"></p>
        </form>

        <form>
            <h2>DATE OF BIRTH</h2>
            <p><input id="name" name="name" type="text" [(ngModel)]="dob" placeholder="enter your first Name"></p>
            {{dob}}
        </form>
        <div class="register">
            <li id="overview"><a (click)="register()"  routerLink="/login">SUBMIT</a></li>
        </div>
    </div>
    
</div>
